
          <div class="analects">
            {% if site.analects != blank -%}
            {%- assign analects_size = site.analects | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign analects = site.analects | reverse -%}
              {% if site.analects_limit %}
              {% assign analects_limit = site.analects_limit %}
              {% else %}
              {% assign analects_limit = analects_size %}
              {% endif %}
              {% for item in analects limit: analects_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="analects-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No analects so far...</p>
          {%- endif %}
          </div>
