<!-- 注释此处
<ul class="card-text font-weight-light list-group list-group-flush">

        <ul class="subitems" style="list-style-type:none">
          {% for subitem in entry.paragraphs %}
            <li><span class="subitem">{{ subitem }}</span></li>
          {% endfor %}
        </ul>


</ul>
注释此处 -->

<ul class="card-text font-weight-light list-group list-group-flush">

        <ul class="subitems" style="list-style-type:none">
          {% for subitem in entry.paragraphs %}
            <span class="subitem">{{ subitem }}<br></span>
          {% endfor %}
        </ul>


</ul>
