
          <div class="reading">
            {% if site.reading != blank -%}
            {%- assign reading_size = site.reading | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign reading = site.reading | reverse -%}
              {% if site.reading_limit %}
              {% assign reading_limit = site.reading_limit %}
              {% else %}
              {% assign reading_limit = reading_size %}
              {% endif %}
              {% for item in reading limit: reading_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="reading-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No reading so far...</p>
          {%- endif %}
          </div>
