---
layout: default
pagination:
  enabled: true
  permalink: /page/:num/
  per_page: 8
---


<!-- _layouts/caocao.html -->
        <div class="post">
          <header class="post-header">
            <p class="post-description">{{ page.description }}</p>
          </header>
          <article>
            {% for post in paginator.posts %}
            <div class="caocao">
              {% for entry in site.data.caocao %}
                <div class="card mt-3 p-3">
                  <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
                  <div>
                    {% include caocao_para.html %}
                  </div>
                </div>
              {% endfor %}
              </div>
            {% endfor %}
          </article>
        </div>
        
